# IDE
.idea
/.idea/.gitignore
/.idea/compiler.xml
/.idea/express-server-next.iml
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml


# Environment
.env

# Folders
/node_modules/
/dist/

# husky
.husky
